<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.openlattice.chronicle.compat.MinifiedRuntimeProofReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.openlattice.chronicle.RUN_MINIFIED_RUNTIME_PROOF" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
